@model ECommerceSite.Models.ShoppingCartVM
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Adı</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Name" class="form-control">
                                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Soyadı</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Surname" class="form-control">
                                <span asp-validation-for="OrderHeader.Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Adres</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Adres" class="form-control">
                                <span asp-validation-for="OrderHeader.Adres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Semt</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Semt" class="form-control">
                                <span asp-validation-for="OrderHeader.Semt" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Şehir</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Sehir" class="form-control">
                                <span asp-validation-for="OrderHeader.Sehir" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Telefon</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.PhoneNumber" class="form-control">
                                <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Posta Kodu</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.PostaKodu" class="form-control">
                                <span asp-validation-for="OrderHeader.PostaKodu" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.ListCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between lh-sm">
                                        <div>
                                            <h6 class="my-0">@item.Product.Title</h6>
                                            <small class="text-muted">Adet :@item.Count</small>
                                        </div>
                                        <span class="text-muted">@((item.Count*item.Product.Price).ToString("0.00")) ₺</span>
                                    </li>
                                }


                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Toplam Tutar :</h6>

                                    </div>
                                    <span class="text-success">@(Model.OrderHeader.OrderTotal.ToString("0.00")) ₺</span>
                                </li>

                            </ul>


                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Kart Adı</label>
                            <div class="col-sm-8">
                                <input type="text" asp-for="OrderHeader.CartName" class="form-control">
                                <span asp-validation-for="OrderHeader.CartName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Kart Numarası</label>
                            <div class="col-sm-8">
                                <input type="text" asp-for="OrderHeader.CartNumber" class="form-control">
                                <span asp-validation-for="OrderHeader.CartNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-4">
                                <input type="text" asp-for="OrderHeader.ExpirationMonth" class="form-control" placeholder="Ay">
                                <span asp-validation-for="OrderHeader.ExpirationMonth" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" asp-for="OrderHeader.ExpirationYear" class="form-control" placeholder="Yıl">
                                <span asp-validation-for="OrderHeader.ExpirationYear" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" asp-for="OrderHeader.Cvc" class="form-control" placeholder="Güvenlik Kodu">
                                <span asp-validation-for="OrderHeader.Cvc" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success form-control" >Sipariş Tamamla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}