@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h3>Bu Kaydı silmek istediğinizden emin misiniz?</h3>
            <div>

                <dl class="row">
                    <dt class="col-sm-2">
                       Email
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-primary">Kayıt Listesi</a>
                </form>
            </div>
        </div>
    </div>
</div>

